.average-humidity-chart {
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

  .line-max-temp {
    fill: none;
    stroke: #db1717; 
    stroke-width: 2px; 
  }

  .line-wind-kph {
    fill: none;
    stroke: #f5f5f5; 
    stroke-width: 2px; 
  }
}
