.brand {
  background-color: transparent;
  color: white;
  font-size: 12px; /* Adjust the font size as needed */
  font-weight: bold;
  text-align: center;
  line-height: 1.2; /* Adjust the line height as needed */
  text-transform: uppercase;
  margin-left: 35px;
  margin-top: 35px;

  &__word {
    display: block;
    font-weight: bold;
  }
}
