.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw; /* Set the desired height for the main container */

  &__inner-container {
    height: 100%; /* Set the desired height for the inner containers */
  }

  &__inner-container--first {
    border-radius: 25px;
    border-color: white;
    border: solid 0.1px;
    border-bottom: 0;
    border-top: 0;
    max-width: 327px;
    width: 30%;
  }

  &__inner-container--second {
    width: 70%;
  }
}

.wallpaper {
  background-size: cover;
  
  &__cloudly {
    background: url('../assets/cloud.jpg') no-repeat center center fixed;
  }

  &__sunny {
    background: url('../assets/sunny.jpg') no-repeat center center fixed;
  }
}
