.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw; /* Set the desired height for the main container */

  &__inner-container {
    height: 100%; /* Set the desired height for the inner containers */
  }

  &__inner-container--first {
    width: 30%;
    background-color: #f1f1f1; /* Just for demonstration */
  }

  &__inner-container--second {
    width: 70%;
    background-color: #eaeaea; /* Just for demonstration */
  }
}
